<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # If the requested physical file does not exist...
  RewriteCond %{REQUEST_FILENAME} !-f
  # And the requested physical directory does not exist...
  RewriteCond %{REQUEST_FILENAME} !-d
  # Forward the request to index.html
  RewriteRule . /index.html [L]
</IfModule>